<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Memo Memos</title>
  </head>
  <body>
    <div id="app">
      <p>{{ message }}</p>
      <p>{{ message2 }}</p>
      <button v-on:click="changeMsg">Change</button>
      <ul>
        <li v-for="data in list">{{ data.title }}</li>
      </ul>
      <button v-on:click="listAdd">listAdd</button>
      <button v-on:click="postAdd">postSnippet</button>
      <div>
        <input v-model="title" placeholder="title" />
        <!-- 説明 2.23 -->
        <input v-model="language" placeholder="language" />
        <input v-model="contents" placeholder="contents" />
      </div>
    </div>
    <script>
      new Vue({
        el: "#app",
        data() {
          return {
            message: "Hello Vue!",
            message2: "Hoge",
            list: [{ title: "title1" }, { title: "title2" }],
            title: "new title",
            language: "Ruby",
            contents: "contents",
          };
        },
        mounted() {
          this.setMsg();
        },
        methods: {
          setMsg: function () {
            this.message = "Set Message";
          },

          changeMsg: function () {
            this.message = "Changed Message";
            axios
              .get("/memo_memos.json")
              .then(
                (response) => (
                  console.log(response.data[0]["title"]),
                  (this.message2 = response.data[0]["title"])
                )
              );
          },

          listAdd: function () {
            axios
              .get("/memo_memos.json")
              .then(
                (response) => (
                  console.log(response.data), (this.list = response.data)
                )
              );
          },
          postAdd: function () {
            axios
              .post("/memo_memos.json", {
                title: "new title",
                language: "Ruby",
                contents: "contents",
              })
              .then((response) => this.listAdd());
          },
        },
      });
    </script>
  </body>
</html>
